---
import ThemeToggleButton from "../components/ThemeToggleButton";
import Links from "../components/Links";
---
<div class="flex items-center justify-between w-full max-w-2xl mx-auto mt-5 mb-20">
    <Links />
    <ThemeToggleButton client:visible />
</div>