---
import ThemeToggleButton from "../components/ThemeToggleButton";
import Links from "../components/Links";
---
<div class="flex justify-end gap-3 m-3">
    <Links />
    <ThemeToggleButton client:visible />
</div>