---
import GitHub from "./github.astro"
import LinkedIn from "./linkedin.astro"
---

<div
  class="flex items-center justify-center py-6 px-4 sm:py-8 sm:text-xl"
>

  <GitHub />
  <LinkedIn />

</div>
