---
---

<a
  class="ml-8 flex items-center transition-all hover:text-blue-400"
  href="https://github.com/michaelvessia"
  rel="noopener"
  target="_blank"
  aria-label="GitHub"
>
  <img class="w-10 h-10 mr-2" src={"/assets/github.svg"}>
    <span class="hidden sm:block">Github</span>
  </img>
</a>
