---
const siteTitle = "Michael Vessia";
const description = "Software Engineer";
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.svg" />
  <meta name="description" content={description} />
  <meta property="og:title" content={siteTitle} />
  <meta property="og:description" content={description} />
  <title>{siteTitle}</title>
  <meta name="theme-color" content="#000000" />
</head>
