---
---
<a
  class="ml-8 flex items-center transition-all hover:text-blue-400"
  href="https://www.linkedin.com/in/michaelvessia/"
  rel="noopener"
  target="_blank"
  aria-label="LinkedIn"
>
<img class="w-8 h-8 mr-2" src={"/assets/linkedin.svg"}>
  <span class="hidden sm:block">LinkedIn</span>
</img>
</a>
